<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Nattapat Siripin. It uses data from darksky.net!</p>
    <img class="protrait" src="/img/profile.jpg" />
    </div>

    {{>footer}}
  </body>
</html>